coffee-shop-backend/coffee-shop-backend/obj/Debug/net8.0
coffee-shop-backend/coffee-shop-backend/bin/Debug/net8.0
coffee-shop-backend/coffee-shop-backend/bin/Debug/net8.0
coffee-shop-backend/coffee-shop-backend/obj/Debug/net8.0
